/* Fonts
   ========================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,300&display=swap");

/* 
200 extra light
300 light
300 light italic
400 regular 
500 medium 
600 semi bold 
700 bold 
900 black
*/
body {
  color: white;
  font-family: 'Source Serif Pro', serif;
}

.hero-container {
  background: #1D9DF7; 
  height: auto; 
  padding: 72px 20px; 
}

.mg-btm-48 {
  margin-bottom: 48px;
}

.navbar {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.btn {
  border-radius: 4px;
  color: white; 
  font-size: 16px; 
  font-weight: 700;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.secondary-btn {
  border: 1.5px solid white; 
  background: #1D9DF7; 
  height: 40px; 
  width: 148px;
}

.primary-btn {
  background: #FF8833; 
  height: 56px; 
  width: 320px;
  border: none;
}

h1 {
  font-size: 48px;
  color: white; 
  letter-spacing: -1px;
  line-height: 56px;
}

h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}