/* Fonts
   ========================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* 
100 thin
200 extra light
300 light
400 regular 
500 medium 
600 semi bold 
700 bold 
800 extra bold
900 black

*/
body {
  color: white;
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

h3 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.5px;
}

h4 {
  font-weight: 500;
  letter-spacing: -1px;
  font-size: 32px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 20px;
}

.our-services-row h4 {
  margin-top: 40px;
}

p {
  font-size: 12px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
}

button {
  background: white;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  height: 48px;
  margin-bottom: 24px;
  width: 100%;
}

button:hover {
  cursor: pointer;
}

.banner-container {
  background: url("../imgs/katabasis-website-background-lg-min.png");
  background-size: cover;
  background-position: center;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.banner-container .row {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.content-container > h4:nth-child(1) {
  margin-top: 24px;
}

.content-container {
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  background: url("../imgs/katabasis-website-gradient-background-lg-min.png");
  background-size: cover;
  background-position: center;
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 24px;
}

.card .title {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.25px;
  margin-bottom: 8px;
}

.card .desc {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.5px;
  margin-bottom: 8px;
}

.icons {
  margin-bottom: 8px;
}

.cta-bottom-row,
.footer-row,
.footer-row p {
  text-align: center;
}
.cta-bottom-row button {
  margin-bottom: 16px;
  color: #0bc584;
}

.our-work-row,
.our-services-row,
.our-team-row {
  margin-bottom: 48px;
}

.cta-bottom-row {
  margin-bottom: 40px;
}

.footer-row {
  margin-top: 56px;
}

.photo-container {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  margin-bottom: 8px;
}
