/* Fonts
   ========================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,300&display=swap");

/* 
200 extra light
300 light
300 light italic
400 regular 
500 medium 
600 semi bold 
700 bold 
900 black
*/
body {
  color: white;
  font-family: "Source Serif Pro", serif;
}

.section {
  padding: 72px 20px;
  display: flex;
  flex-direction: column;
}

.hero-container {
  background: #1d9df7;
  height: auto;
}

.mg-btm-48 {
  margin-bottom: 48px;
}

.mg-btm-24 {
  margin-bottom: 24px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.btn {
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.secondary-btn {
  border: 1.5px solid white;
  background: #1d9df7;
  height: 40px;
  width: 148px;
}

.primary-btn {
  background: #ff8833;
  height: 56px;
  width: 100%;
  min-width: 320px;
  border: none;
}

h1 {
  font-size: 48px;
  color: white;
  letter-spacing: -1px;
  line-height: 56px;
}

h3 {
  font-size: 32px;
  line-height: 40px;
  color: #0774c0;
  letter-spacing: -0.5px;
}

h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

p {
  font-size: 16px;
  font-weight: 300;
}
.caption {
  font-style: italic;
  color: white;
}

.text {
  color: #0774c0;
}

.no-pad-top {
  padding-top: 0;
}

.process-container img,
.services-container img {
  width: 100%;
}

.team-member {
  height: 160px;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 24px;
  color: #FF6A00;
  border: 1px solid #FF6A00;
  border-radius: 4px;
  text-decoration: none;
}
.team-member-img-container {
  overflow: hidden;
  width: 120px;
  display: flex;
  justify-content: center;
}
.team-member-img {
  width: 200%;
  max-width: none;
}

.team-member .name {
  font-size: 16px;
  font-weight: 600;
}


.team-member-img.trev {
  margin-left: 36px;
  margin-top: 100px;
}


.team-member-img.ade {
  margin-left: -36px;
  margin-top: 180px; 
}
.team-member-bio {
  padding: 24px; 
}
